@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-size: 16px;
  min-width: 360px;
}

.content {
  max-width: 1024px;
  padding: 0 30px;
  margin: 0 auto;
}

/* HEADER */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  left: 0;
  top: 0;
}

.logo {
  width: 155px;
  height: 46px;
}

.top-navigation {
  display: flex;
}

.top-navigation .trigram {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.top-navigation ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}

.top-navigation ul li {
  width: 47px;
  text-align: center;
  white-space: nowrap;
}

.top-navigation ul li a,
.top-navigation .trigram {
  text-decoration: none;
  color: #677788;
}

.top-navigation ul button {
  background-color: #2476ff;
  color: white;
  border-radius: 30px;
  width: 102px;
  padding: 15px 25px 15px 25px;
  font-size: 12px;
  border: none;
}

/* LOGO SECTION */

.logo-content {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  height: 446px;
  position: relative;
}

.logo-background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 446px;
  background-image: url("/assets/bg/background-top.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%, 0% 100%);
}

.section-info {
  position: relative;
  width: 50%;
  display: flex;
  gap: 11px;
  flex-direction: column;
}

.section-info h1 {
  font-size: 40px;
  width: 334px;
}

.section-info p {
  font-size: 14px;
  color: #677788;
}

.section-button {
  gap: 24px;
  padding-top: 20px;
}

.section-button button {
  background-color: #2476ff;
  color: white;
  font-size: 12px;
  border-radius: 30px;
  width: 137px;
  height: 48px;
  border: none;
}

.section-button span {
  color: #677788;
  font-size: 14px;
  padding-left: 20px;
}

.section-button i {
  color: #2476ff;
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  padding-top: 3px;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 50%;
  gap: 10px;
  position: relative;
  clip-path: none;
}

.big-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 13px 0px #00000040;
}

.small-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 13px 0px #00000040;
}

.big-img img,
.small-img img {
  width: 50%;
  height: 50%;
}

.google-img {
  position: absolute;
  left: 64px;
  top: 10px;
}

.google-ads-img {
  position: absolute;
  left: 155px;
  top: 290px;
}

.atlassian-img {
  position: absolute;
  left: 175px;
  top: 10px;
}

.paypal-img {
  position: absolute; 
  left: 44px;
  top: 172px;
}

.asana-img {
  position: absolute;
  left: 380px;
  top: 10px;
}

.weave-img {
  position: absolute;
  left: 262px;
  top: 172px;
}

.calendar-img {
  position: absolute;
  left: 364px;
  top: 310px;
}

/* WHY SECTION */

.why-section-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: auto 30px 80px 30px;
  align-items: center;
  position: relative;
}

.why-section-header {
  width: 600px;
  height: 89px;
}

.why-section-info h2 {
  text-align: center;
  font-size: 26px;
  padding-bottom: 10px;
}

.why-section-info p {
  text-align: center;
  font-size: 16px;
  color: #677788;
}

.list-wrapper {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.custom-list {
  list-style: none; 
  display: flex; 
  gap: 100px;
  position: relative;
}

.custom-list li {
  position: relative;
  text-align: center; 
  padding-top: 75px; 
  white-space: nowrap;
}

.custom-list li::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 50px;
  height: 50px; 
  border: none; 
  border-radius: 50%;
  background-color: #ECF2FF;
  z-index: 2; 
}

.custom-list li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 22.5px; 
  transform: translateX(-50%);
  width: 6px; 
  height: 6px; 
  background-color: #0066FF; 
  border-radius: 50%; 
  z-index: 3; 
}

.custom-list::before {
  content: '';
  position: absolute;
  top: 25px; 
  left: 50px;
  width: 85%;
  height: 1px; 
  background-color: #E6E9F2; 
  z-index: 1; 
}

/* PRICTING SECTION */

.pricing-content {
  width: 100%;
  padding: 0px;
  margin-top: 80px;
}

.pricing-section-info {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 120px;
  width: 100%;
}

.pricing-section-header {
  width: 100%;
  height: 60px;
}

.pricing-section-header h2 {
  text-align: center;
  font-size: 26px;
  padding-bottom: 10px;
}

.pricing-section-header p {
  text-align: center;
  font-size: 16px;
  color: #677788;
}

.price-info-group {
  display: flex;
  flex-direction: row;
  margin: 60px 30px;
}

.price-info {
  flex-direction: column;
  width: 370px;
  height: 452px;
  padding: 40px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 10px 20px 0px #00000026;
  align-content: space-between;
}

.price-info h2 {
  font-size: 50px;
  padding-bottom: 30px;
}

.price-info a {
  font-size: 20px;
  color: #677788;
}

.price-info hr {
  color: #8d8d8d;
}

.price-info p {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #677788;
}

.pricing-button {
  gap: 10px;
  width: 137px;
  height: 73px;
  padding-top: 50px;
  position: relative;
}

.pricing-button button {
  width: 137px;
  height: 48px;
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  background-color: #2476ff;
  color: white;
  border: none;
}

.pricing-button span {
  font-size: 12px;
  color: #677788;
}

.pricing-button i {
  color: #2476ff;
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  padding-top: 3px;
}

.price-image-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 564px;
  margin-left: 30px;
}

.price-image-content {
  width: 277px;
  height: 219px;
}

.price-image-content img {
  width: 50px;
  height: 50px;
}

.price-image-content h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.price-image-content p {
  font-size: 14px;
  color: #677788;
}

.price-image-content a {
  width: 60px;
  height: 23px;
  border-radius: 15px;
  background-color: #01c9a7;
  color: white;
  padding: 4px 10px 4px 10px;
  font-size: 12px;
  margin-left: 10px;
}

/* HIRE US SECTION */

.hire-us-content {
  width: Fill (1, 024px) px;
  height: 708px;
  padding: 30px 30px 30px 30px;
  gap: 0px;
  opacity: 0px;
  background-color: #20335b;
  display: flex;
}

.hire-us-info {
  flex-direction: column;
  padding-left: 70px;
  padding-right: 42px;
  width: 50%;
  align-content: center;
  gap: 34px;
}

.hire-us-info-content h2 {
  color: #ffffff;
  font-size: 26px;
  padding-bottom: 10px;
}

.hire-us-info-content span {
  color: #677788;
}

.hire-us-info-content hr {
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 32px;
}

.hire-us-info-content p {
  color: #ffffff;
  font-style: italic;
}

.hire-us-profile {
  padding-top: 60px;
  width: 208px;
  gap: 20px;
}

.hire-us-profile h3 {
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 4px;
}

.hire-us-profile span {
  font-size: 14px;
  color: #677788;
}

.hire-us-profile img {
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.hire-us-form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 45px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hire-us-form h3 {
  font-weight: 700;
  font-size: 16px;
}

.form-name {
  display: flex;
  justify-content: space-between;
}

.form-name input {
  height: 44px;
  width: 186px;
  border-radius: 5px;
  border: 1px solid #e6e8f2;
  padding: 10px;
}

.form-email input {
  height: 44px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e6e8f2;
  padding: 10px;
}

.form-dropdown {
  display: flex;
  justify-content: space-between;
}

.form-dropdown button {
  width: 186px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #e6e8f2;
  background-color: transparent;
  padding: 10px 16px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 510;
}

.form-tell-us textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #e6e8f2;
  align-items: start;
  font-size: 14px;
  color: #828282;
  resize: none;
  text-align: left;
  padding: 10px;
}

.form-privacy-policy {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 16px;
}

.form-privacy-policy input {
  min-width: 25px;
  height: 28px;
  padding-top: 4px;
  border-radius: 3px;
  border: 1px solid #e6e8f2;
}

.form-privacy-policy-content label {
  font-size: 14px;
  color: #828282;
  font-weight: 510;
}

.form-privacy-policy-links {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.form-privacy-policy-links a {
  font-size: 14px;
  color: #2476ff;
  border-bottom: 0.1rem dashed;
}

.form-submit {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.form-submit button {
  width: 125px;
  height: 45px;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  background-color: #2476ff;
  border: none;
}

/* FOOTER */

.footer-content {
  padding: 40px 30px;
  gap: 40px;
  display: flex;
  flex-direction: row;
}

.footer-address {
  display: flex;
  flex-direction: column;
}

.footer-address img {
  width: 100px;
}

.footer-address-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  font-size: 14px;
  color: #2576ff;
  font-weight: 510;
}

.footer-address-info i {
  color: #677788;
  margin-right: 5px;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 673px;
}

.footer-link-wrapper h3 {
  font-size: 18px;
  font-weight: 860;
  margin-bottom: 20px;
}

.footer-link-wrapper ol li {
  list-style-type: none;
  color: #677788;
  font-size: 14px;
  margin: 10px 0px;
}

.footer-link-resources i {
  margin-right: 5px;
}

.footer-link-company a {
  margin-left: 9px;
  width: 55px;
  height: 14px;
  background-color: #2576FF;
  color: #FFFFFF;
  border-radius: 3px;
  font-size: 8px;
  padding: 2px 4px;
  font-weight: 510;
}